.taskActions {
  margin-left: auto;
  align-items: flex-end;
  gap: 8px;

}
.btn_icon{
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.taskIcon {
  width: 16px;
  height: 16px;
  stroke: var(--input-text-color);
  stroke-opacity: 0.5;
  fill: none;
}
