
.buttonShowPassword {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    border: none;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 14px;
    right: 18px;
    font-size: 2rem;
    color: #fff;
    stroke: #fff;
    opacity: 0.4;
    background-color: transparent;
    cursor: pointer;
    &:hover {
      stroke: #fff;
      fill: none;
      opacity: 1;
      background-color: transparent;
    }
  }
  .errorStyles {
    color: red;
    font-size: 12px;
    margin-left: 4px;
  
    position: absolute;
    bottom: -13px;
    left: 0;
  }
  
  .passwordContainer {
    display: flex;
    align-items: center;
    position: relative;
  }