.container {
  width: 197px;
  padding: 14px 14px 14px 14px;
  margin-bottom: 24px;
  border-radius: 8px;
  background-color: var(--need-help-bgc);
}

.image {
  width: 54px;
  height: 78px;
}

.text {
  font-family: var(--font-family);
  color: var(--logo-text-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: -0.28px;
  margin-top: 14px;
  margin-bottom: 18px;
  text-align: start;
}

.span {
  color: var(--input-border);
  font-family: var(--font-family);
  font-size: 12px;
}
.btn {
  all: unset;

  background: none;
  font-family: var(--font-family);
  font-size: 12px;
  border: none;
  color: var(--logo-text-color);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  font-weight: 500;
}

.btn:hover {
  text-decoration: underline;
}

.icon {
  stroke: var(--logo-text-color);
  fill: transparent;
  margin-right: 8px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 168px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 212px;
    padding: 20px 20px 20px 20px;
  }
  .text {
    font-size: 14px;
  }
}
