.form_styles {
  width: 302px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 24px;
  min-width: 272px;
  width: 100%;
  max-width: 287px;
  section {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  h2 {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: var(--text-color);
  }
  @media only screen and (min-width: 768px) {
    width: 302px;
  }
  .btn {
    margin-top: 40px;
  }
}
