.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 16px;
  margin: 0px auto;
  height: 100vh;
  background: linear-gradient(180deg, #ffffff 25%, #bedbb0 92.19%);

  img {
    margin-bottom: 14px;

    @media screen and (min-width: 768px) {
      margin-bottom: 24px;
    }
  }
  .info {
    text-align: center;
    max-width: 280px;
    color: #161616;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #161616;

    @media screen and (min-width: 375px) {
      max-width: 335px;
    }
    margin-top: 24px;

    @media screen and (min-width: 768px) {
      max-width: 473px;
      margin-top: 30px;

    }
  }
}

.logo {
  /* display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  } */

  h1 {
    font-weight: 600;
    font-size: 28px;
    letter-spacing: -0.04em;
    color: #161616;

    @media screen and (min-width: 768px) {
      font-size: 40px;
    }
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: #161616;

    @media screen and (min-width: 768px) {
      width: 48px;
      height: 48px;
    }

    svg {
      @media screen and (min-width: 768px) {
        width: 18px;
        height: 24px;
      }
    }
  }
}

.authNav {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  margin-top: 48px;

}

/* .authLink {
  margin: 0, auto;
  border-radius: 8px;
  width: 335px;
  height: 49px;
  padding: 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  text-align: center;
  letter-spacing: -0.02em;
  color: #161616;
  background-color: transparent;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: #161616;
    color: #fff;
  }

  @media screen and (min-width: 375px) {
    min-width: 335px;
  }

  @media screen and (min-width: 768px) {
    max-width: 344px;
  }
} */
