.board {
  display: flex;
  flex-wrap: nowrap;

  padding: 10px;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.boardTitle {
}
.boardColumn {
  overflow-y: hidden;
  overflow-x: auto;
  gap: 8px;
  display: flex;
  height: 98%;


  &::-webkit-scrollbar {
    height: 12px;
  }
  &::-webkit-scrollbar-track {
    background-color: var(--board-scroll-track);
    border-radius: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--board-scroll-thumb);
    border-radius: 12px;
  }
}
