.li_col{
  display: flex;
  flex-direction: column;
  /* height: 100%; */
}
.column {
  display: block;
  /* height: 70vh; */
height: 100%;
  /* overflow-y: scroll; */
}
.columnWrapper {
  overflow-y: scroll;
  width: 358px;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #f1f1f1;
  border-radius: 4px;
}
.columnTitle {
  width: 334px;
  outline: #636625 solid 1px;
}
/* .btn_column{
flex: 0 0 auto;
} */