.icons_list {
    display: flex;
    gap: 12px;
  }
  
  .icon_item {
    list-style: none;
  }
  
  .icon_radio {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  
  label {
    cursor: pointer;
  }
  
  .icon_svg {
    opacity: 0.5;
    fill: none;
    stroke: var(--text-color);
    transition: opacity var(--transition-pattern);
  }
  
  .icon_svg:hover,
  .icon_svg:focus,
  .selected {
    opacity: 1;
  }

/* .icons_list{
    display: flex;
    gap: 8px;
    .icon_item{
        cursor: pointer;
        border-radius: 4px;
        transition: border-color var(--transition-pattern);
        svg{
            opacity: 0.5;
            fill: none;
            stroke: var(--text-color);
            transition: opacity var(--transition-pattern);
            &:hover, &:focus{
                opacity: 1;
            }
        }
    }
}
.icon_item {
    cursor: pointer;

  }
  
  .selected {
    opacity: 1;
  } */