.priorities_list {
  display: flex;
  gap: 12px;
}

.priority_item {
  list-style: none;
}

.priority_radio {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

label {
  cursor: pointer;
  display: flex;
  gap: 8px;
}
.icon_wrap {
  display: flex;
  align-items: center;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  padding: 1.5px;
}
.icon_circle {
  border-radius: 50%;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  transition: opacity var(--transition-pattern), scale var(--transition-pattern);
}
.icon_wrap:hover .icon_circle{
  scale: 1.1;
  opacity: 1;
}


.icon_circle:focus,
.selected {
  scale: 1.1;
  opacity: 1;
  border-color: var(--background-header);
}
