.icon {
  stroke: #fff;
  fill: none;
}
.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 34px;
  height: 34px;
  padding: 0;
  border: none;

  cursor: pointer;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  position: relative;
  padding: 10px 40px;
  overflow: hidden;
  max-width: 541px;
}
.wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
