.header {
  padding: 16px 24px;
  display: flex;
  gap: 14px;
  justify-content: end;
  background-color: var(--background-header);
  align-items: center;

  .user_info {
    display: flex;
    align-items: center;

    gap: 8px;
    .img_wrap {
      border: 1px solid red;
      width: 32px;
      height: 32px;
      border-radius: 8px;
      overflow: hidden;
      img {
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
.css-v5wcb0-control {
  box-shadow: none;
}
