.icon {
  stroke: var(--button-background-color);
  fill: none;
}
.customInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  background-color: transparent;
  color: var(--button-background-color);
  border: none;
  border-bottom: 1px solid var(--white-40);
  font-size: 18px;

  cursor: pointer;
  width: 200px;
}
.div {
  padding: 10px;
}
