.wrapper {
  display: flex;
    align-items: center;
  justify-content: right;
  padding: 10px 10px 0 0;
}
.menuHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: black;
}
.icon_close {
  width: 20px;
  height: 20px;
  fill: white;
  stroke: white;
}
.filterBtn {
  padding: 8px;
  color: white;
  border: none;
  cursor: pointer;
  background-color: transparent;
 
}
.filterBtn .active {
  background-color: var(--button-background-color-hover);
}
.closeBtn {
  margin-left: auto;
  border-radius: 50%;

}
