/* /* .container {
  position: absolute;
  top: 82px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.icon_close_wrapper {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
  z-index: 1;
}

.icon_close {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.icon_filter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  stroke: rgba(255, 255, 255, 0.8);
}

.text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
}

.menuHeader {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 24px;
  position: absolute;
  top: 24px;
  right: 0;
}

.filtersTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #fff;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 14px 0;
}

.labelTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fff;
}

.selectAllButton {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  position: absolute;
  top: 74.4px;
  right: 24px;
}

.selectAllButton:hover {
  color: rgba(255, 255, 255, 0.6);
} */
.container {
  position: absolute;

  top: 82px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  color: var(--text-color);
}

.icon_close_wrapper {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
  z-index: 1;
}

.icon_close {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.icon_filter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  stroke: var(--filter-btn-color);
}

.text {
  /* color: rgba(255, 255, 255, 0.8); */
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
}

.menuHeader {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 24px;
  position: absolute;
  top: 24px;
  right: 0;
}

.filtersTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: var(--text-color);
}

.separator {
  width: 100%;
  height: 1px;
  background-color: var(--filter-separator);
  margin: 14px 0;
}

.labelTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--text-color);
}

.selectAllButton {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--filter-btn-color);
  background-color: transparent;
  position: absolute;
  top: 74.4px;
  right: 24px;
}

.selectAllButton:hover {
  color: var(--filter-btn-color-hover);
}
