@import url('./css/fonts.css');
@import url('./css/reset.css');

:root {
  --font-family: 'Poppins', sans-serif;
  --text-color: #ffffff;
  --background-color: #232323;
  --button-background-color-hoover: #bedbb0;
  --button-background-color: #9dc888;
  --button-text-color: #161616;
  --transition-pattern: 300ms ease-in;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[theme='dark'] {
  --text-color: #ffffff;
  --text-color-sidebar: #ffffff;
  --background-color: #232323;
  --background-header: #161616;
  --background-sidebar: #121212;
  --background-logo: #232323;
  --button-background-color-hoover: #9dc888;
  --button-background-color: #bedbb0;
  --button-text-color: #161616;
  --button-icon-color: #fff;
  --header-arrow-color: #ffffffcc;
  --secondary-btn-bgc: #121212;
  --secondary-btn-icon-bgc: #fff;
  --small-btn-bgc: #bedbb0;
  --small-btn-bgc-hover: #9dc888;
  --small-btn-color: #121212;
  --logo-icon-bgc: #1f1f1f;
  --logo-icon-fill: #fff;
  --logo-text-color: #fff;
  --user-icon-fill: #151515;
  --user-icon-bgc: #1f1f1f;
  --input-bgc: #1f1f1f;
  --input-border: #bedbb0;
  --input-text-color: #ffffff;
  --input-box-shadow: rgba(22, 22, 22, 0.08);
}
[theme='light'] {
  --text-color: #000000;
  --text-color-sidebar: #000000;
  --background-color: #fdfdfd;
  --background-header: #fcfcfc;
  --background-sidebar: #ffffff;
  --background-logo: #000000;
  --button-background-color-hoover: #9dc888;
  --button-background-color: #bedbb0;
  --button-text-color: #161616;
  --button-icon-color: #fff;
  --header-arrow-color: #161616cc;
  --secondary-btn-bgc: #fff;
  --secondary-btn-icon-bgc: #161616;
  --small-btn-bgc: #bedbb0;
  --small-btn-bgc-hover: #9dc888;
  --small-btn-color: #121212;
  --logo-icon-bgc: #1f1f1f;
  --logo-icon-fill: #fff;
  --logo-text-color: #161616;
  --user-icon-fill: #fff;
  --user-icon-bgc: #f6f6f7;
  --input-bgc: transparent;
  --input-border: #bedbb0;
  --input-text-color: #161616;
  --input-box-shadow: rgba(22, 22, 22, 0.08);
}
[theme='violet'] {
  --text-color: #000000;
  --text-color-sidebar: #fff;
  --background-color: #d6d8ff;
  --background-header: #fff;
  --background-sidebar: #5255bc;
  --background-logo: #d6d8ff;
  --button-background-color: #7b7ede;
  --button-background-color-hoover: #5255bc;
  --button-text-color: #ffffff;
  --button-icon-color: #161616;
  --header-arrow-color: #161616cc;
  --secondary-btn-bgc: #fff;
  --secondary-btn-icon-bgc: #5255bc;
  --small-btn-bgc: #b8bcfd;
  --small-btn-bgc-hover: #979cea;
  --small-btn-color: #fff;
  --logo-icon-bgc: #ecedfd;
  --logo-icon-fill: #5255bc;
  --logo-text-color: #fff;
  --user-icon-fill: #fff;
  --user-icon-bgc: #ecedfd;
  --input-bgc: transparent;
  --input-border: #5255bc;
  --input-text-color: #161616;
  --input-box-shadow: rgba(22, 22, 22, 0.08);
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: var(--button-background-color);
  cursor: pointer;
  color: var(--button-text-color);
  width: 302px;
  height: 49px;
  padding: 10px 0px 11px 0px;
  width: 302px;
  height: 49px;
  font-size: 14px;
  font-weight: 500;
}
button:hover {
  background-color: var(--button-background-color-hoover);
} */
