@import url('./css/fonts.css');
@import url('./css/reset.css');

:root {
  --font-family: Poppins, sans-serif;
  --text-color: #ffffff;
  --background-color: #232323;
  --button-background-color-hoover: #bedbb0;
  --button-background-color: #9dc888;
  --button-text-color: #161616;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[theme='dark'] {
  --text-color: #ffffff;
  --background-color: #232323;
  --button-background-color-hoover: #bedbb0;
  --button-background-color: #9dc888;
  --button-text-color: #161616;
  --little-button-background-color: #bedbb0;
}
[theme='light'] {
  --text-color: #000000;
  --background-color: #fdfdfd;
  --button-background-color-hoover: #bedbb0;
  --button-background-color: #9dc888;
  --little-button-background-color: #bedbb0;
  --button-text-color: #161616;
}
[theme='violet'] {
  --text-color: #ffffff;
  --background-color: #d6d8ff;
  --button-background-color: #7b7ede;
  --button-background-color-hoover: #5255bc;
  --button-text-color: #ffffff;
  --little-button-background-color: #ecedfd;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: var(--button-background-color);
  cursor: pointer;
  color: var(--button-text-color);
  width: 302px;
  height: 49px;
  padding: 10px 0px 11px 0px;
  width: 302px;
  height: 49px;
  font-size: 14px;
  font-weight: 500;
}
button:hover {
  background-color: var(--button-background-color-hoover);
}

.little-button {
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: var(--little-button-background-color);
  cursor: pointer;
  color: var(--button-text-color);
  width: 40px;
  height: 36px;
}
.little-button:hover {
  background-color: var(--button-background-color-hoover);
}
