.modal {
  margin-top: 10px;

  width: 350px;
  min-height: 300px;
}

.title {
  color: #fff;
  font-size: 18px;
  width: 96px;
}

.form {
  width: 350px;
  text-align: center;
}

.label {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.inputName {
  display: block;
  font-size: 14px;
  margin-top: 10px;
  padding: 14px 18px;
  border-radius: 8px;
  width: 100%;
  height: 49px;
  background: none;
  color: #949090cc;
  border: 1px solid #bedbb0;
  opacity: 0.4;
}

.inputName:hover {
  border: 1px solid #bedbb0;
}

.inputName:focus {
  outline: 1px solid #bedbb0;
  color: #fff;
}

.inputNameImg {
  display: block;
  width: 100px;
  opacity: 0;
}

.img {
  display: inline-block;
  justify-content: center;
  /* fill: var(--mobile-menu-icon); */
}

.imgUser {
  display: inline-block;
  width: 68px;
  height: 68px;
  justify-content: center;
  border-radius: 8px;
}

.btnSend {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  border-radius: 6px;
  width: 100%;
  background-color: #9dc888;
  height: 49px;
  justify-content: center;
  color: #161616;
}

.passwordToggle {
  position: absolute;
  right: 5px;
  top: 33%;
  transform: translate(-70%);
}

.fieldIcon {
  display: inline-block;

  fill: none;
  stroke: #949090cc;
  cursor: pointer;
}

.inputError {
  font-size: 12px;
  position: absolute;
  top: 30px;
  background: inherit;
  border: none;
  text-align: left;
  color: #fff;
  opacity: 0.4;
  padding-left: 10px;
}

.plusIcon {
  stroke: #121212;
  border-radius: 4px;
}

.plusIconBackground {
  position: absolute;
  right: 148px;
  top: 73%;
  transform: translate(-70%);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  border-radius: 6px;
  background: #bedbb0;
}

.imgBackground {
  position: relative;
}
